include CHANGES.rst README.rst LICENSE.txt

recursive-include tests *
recursive-include docs *
recursive-include src/bottle_gui/static *

recursive-exclude docs/_build *
recursive-exclude tests/__pycache__ *
recursive-exclude tests/services *.pyc